<section id="themes">
	<header class="clearfix">
		<h1>Temas a los que se dedica la Ayuda Oficial al Desarrollo</h1>
		<div class="data_filter map_aid_dates">
			Año: 
			<ul>
			  <% (2007..2012).each do |year| %>
				  <li class="<%= (current_year.to_i==year) ? 'active' : ' ' %>"><%= link_to year, topics_path(year: year) %></li>
				<% end %>
			</ul>			
			<div class="nav_end"></div>
		</div>
	</header>
	
	<% if @parent.present? %>
	<div class="breadcrumb">
	  <%= link_to 'Todos los temas', topics_path %> > <%= @parent.name %>
	</div>
	<% end %>	

  <% @topics.each do |topic| %>
	<div class="barchart_element clearfix <%= 'sub_theme' unless topic.root? %>">
		<h2><%= topic_link(topic) %></h2>
		<div class="total">
			<div class="part" style="width: <%= bar_with(topic.amount(current_year), @grand_total) %>px"></div>
			<div class="part_label"><%= ratio(topic.amount(current_year), @grand_total) %></div>
			<div class="total_money_label"><%= number_to_currency topic.amount(current_year) %></div>
		</div>
	</div>
	<% end %>
</section>
