<section id="country" class="organism">
	<section id="country_overview">
	  <div id="topic_chart" class="chart" style="width:447px; height:260px; text-align:center">
	   <p style="font-size:9px">Las cifras de 2007 y 2012 son menores por un diferente tratamiento de los datos. <%= link_to('Más info', page_path('about') + '#faq') %>.</p>
	  </div>
	  
		<header>
			<div class="breadcrumb"><%= link_to 'Temas', topics_path %></div>
			<h1><%= @topic.name %></h1>
		</header>

		<table>
		<tr class="main">
			<th>Ayuda en 
				<div class="year_selector">
					<a class="drop_year_selector"><%= current_year %> <i class="fa fa-caret-square-o-down"></i></a>
					<div id="year_selector_drop">
						<ul>
						  <% (2007..2012).each do |year| %>
						    <li><%= link_to year, topic_path(@topic, year: year) %></li>
						  <% end %>
						</ul>
					</div>
				</div>
				
			</th>
			<td><%= number_to_currency @topic.amount(current_year) %></td>
		</tr>
		<tr>
			<th>Ranking temas</th>
			<td>#<%= @topic.rank(current_year) %></td>
		</tr>
		</table>
	</section>

	<section id="country_browse">
		<div class="col-1-3">
			<h2 class="countries" title="Países principales en <% @topic.name %>">Países principales</h2>
			<p class="small">Países que más ayudan reciben para este tema</p>
			<table>
			  <% @regions.each do |region| %>
  			<tr>
  				<td><%= ratio region.paid_amount, @topic.amount(current_year) %></td>
  				<td><%= link_to region.name, region_path(region.id) %></td>
  			</tr>
  			<% end %>
  			<tr>
  				<td></td>
  				<td><%= link_to 'ver todos', projects_path(sSearch: @topic.name) %></td>
  			</tr>
			</table>
		</div>

		<div class="col-2-3">
			<h2 class="proyects" title="Proyectos principales de <% @topic.name %>">Proyectos principales</h2>
			<p class="small">Proyectos principales desarrollados en este tema</p>
			<table>
			  <% @projects.each do |project| %>
  			<tr>
  				<td><%= number_to_currency project.paid_amount %></td>
  				<td><%= link_to project.title, project %></td>
  			</tr>
  			<% end %>
  			<tr>
  				<td></td>
  				<td><%= link_to 'ver todos', projects_path(sSearch: @topic.name) %></td>
  			</tr>
			</table>
		</div>

		<div class="col-3-3">
			<h2 class="organisms" title="Organismos que canalizan ayuda a <% @topic.name %>">Organismos</h2>
			<p class="small">Organismos que más aportan a este tema</p>
			<table>
			  <% @agencies.each do |agency| %>
  			<tr>
  				<td><%= number_to_currency agency.paid_amount %></td>
  				<td><%= link_to agency.name, agency_path(agency.id) %></td>
  			</tr>
  			<% end %>
  			<tr>
  				<td></td>
  				<td><%= link_to 'ver todos', projects_path(sSearch: @topic.name) %></td>
  			</tr>
			</table>
		</div>
	</section>
</section>