<section id="themes">
	<header class="clearfix">
		<h1>Organismos que dedican recursos a la Ayuda Oficial al Desarrollo</h1>
		<div class="data_filter map_aid_dates">
			A침o: 
			<ul>
			  <% (2007..2012).each do |year| %>
				  <li class="<%= (current_year.to_i==year) ? 'active' : ' ' %>"><%= link_to year, agencies_path(year: year) %></li>
				<% end %>
			</ul>			
			<div class="nav_end"></div>
		</div>
	</header>
	
	<% if @agencies.present? %>
  	<div class="breadcrumb">
  	  <%= link_to 'Todos las agencias', agencies_path %> > <%= link_to params[:kind], agencies_path(kind: params[:kind]) %> > <%= params[:organism] %>
  	</div>

    <% @agencies.each do |agency| %>
  	<div class="barchart_element clearfix sub_theme">
  		<h2><%= link_to agency.name, agency %></h2>
  		<div class="total">
  			<div class="part" style="width: <%= bar_with(agency.amount(current_year), @grand_total) %>px"></div>
  			<div class="part_label"><%= ratio(agency.amount(current_year), @grand_total) %></div>
  			<div class="total_money_label"><%= number_to_human agency.amount(current_year), precision: 2 %></div>
  		</div>
  	</div>
  	<% end %>
  	
	<% elsif @organisms.present? %>
	
  	<div class="breadcrumb">
  	  <%= link_to 'Todos las agencias', agencies_path %> > <%= params[:kind] %>
  	</div>

    <% @organisms.each do |organism, amount| %>
  	<div class="barchart_element clearfix sub_theme">
  		<h2><%= link_to organism, agencies_path(organism: organism, kind: params[:kind]) %></h2>
  		<div class="total">
  			<div class="part" style="width: <%= bar_with(amount, @grand_total) %>px"></div>
  			<div class="part_label"><%= ratio(amount, @grand_total) %></div>
  			<div class="total_money_label"><%= number_to_human amount, precision: 2 %></div>
  		</div>
  	</div>
  	<% end %>

	<% else %>
		
  	<div class="barchart_element clearfix">
  		<h2><%= link_to 'Ministerios', agencies_path(kind: 'Administraci칩n General del Estado') %></h2>
  		<div class="total">
  			<div class="part" style="width: <%= bar_with(@departments, @grand_total) %>px"></div>
  			<div class="part_label"><%= ratio(@departments, @grand_total) %></div>
  			<div class="total_money_label"><%= number_to_human @departments, precision: 2 %></div>
  		</div>
  	</div>

  	<div class="barchart_element clearfix">
  		<h2><%= link_to 'Comunidades Aut칩nomas', agencies_path(kind: 'Comunidades Aut칩nomas') %></h2>
  		<div class="total">
  			<div class="part" style="width: <%= bar_with(@regions, @grand_total) %>px"></div>
  			<div class="part_label"><%= ratio(@regions, @grand_total) %></div>
  			<div class="total_money_label"><%= number_to_human @regions, precision: 2 %></div>
  		</div>
  	</div>

  	<div class="barchart_element clearfix">
  		<h2><%= link_to 'Ayuntamientos', agencies_path(kind: 'Entidades Locales') %></h2>
  		<div class="total">
  			<div class="part" style="width: <%= bar_with(@town_halls, @grand_total) %>px"></div>
  			<div class="part_label"><%= ratio(@town_halls, @grand_total) %></div>
  			<div class="total_money_label"><%= number_to_human @town_halls, precision: 2 %></div>
  		</div>
  	</div>

  	<div class="barchart_element clearfix">
  		<h2><%= link_to 'Universidades', agencies_path(kind: 'Universidades') %></h2>
  		<div class="total">
  			<div class="part" style="width: <%= bar_with(@universities, @grand_total) %>px"></div>
  			<div class="part_label"><%= ratio(@universities, @grand_total) %></div>
  			<div class="total_money_label"><%= number_to_human @universities, precision: 2 %></div>
  		</div>
  	</div>

	<% end %>	

</section>
