<section id="home">
	<section id="home-intro">
		<div class="home-main-img">
		  <%= image_tag('home_img_top.jpg', size: '1000x184') %>
		</div>

		<div id="main-graph">
			<div id="graph" style="width: 447px; height: 260px;"></div>
			<script type="text/javascript">
			Morris.Line({
			  element: 'graph',
			  data: [
			    { y: '2006', a: null	},
			    { y: '2007', a: 3755	},
			    { y: '2008', a: 4761	},
			    { y: '2009', a: 4728	},
			    { y: '2010', a: 4492	},
			    { y: '2011', a: 2988	},
			    { y: '2012', a: 1585 },
			    { y: '2013', a: null }
			  ],
			  xkey: 'y',
			  ykeys: ['a'],
			  labels: ['Importe AOD'],
			  ymax: '5000',
			  postUnits: 'M€',
			  xlabels: 'year'
			  
			});
			</script>
		</div>
				
		<div class="intro-text">
			<p class="intro">
				La Ayuda Oficial al Desarrollo (AOD) es el dinero que los países industrializados como España dan a los países en vías de desarrollo para que luchen contra la pobreza.   
				<%= link_to 'Leer más', page_path('about') %> 
			</p>

			<h2>En 2008 España dio 4.762 MM € de AOD neta</h2>
			<ul>
				<li>Y estaba en el puesto número 7 de países donantes</li>					
			</ul>

			<h2>En 2012 la aportación de España bajó un 67%</h2>
			<ul>
				<li>Ni siquiera Grecia, Irlanda o Portugal han recortado tanto</li>
			</ul>
		</div>

	</section>

	<section>
		<header>
			<h2>¿Qué ha pasado con la ayuda? ¿Quien la recibe? ¿Dónde ha bajado más?</h2>
			<p>Mira los datos tu mismo</p>
		</header>

		<div class="sections">
			<div class="section">
			  <%= link_to image_tag('home_cat_1.png'), regions_path %>
				<h3><%= link_to 'Países', regions_path %></h3>
				<p>Consulta los países que han recibido ayudas y como han evolucionado</p>
			</div>

			<div class="section">
			  <%= link_to image_tag('home_cat_2.png'), topics_path %>
				<h3><%= link_to 'Temas', topics_path %></h3>
				<p>Navega por los todos los temas para los que España ha otorgado ayudas</p>
			</div>

			<div class="section">
			  <%= link_to image_tag('home_cat_3.png'), agencies_path %>
				<h3><%= link_to 'Organismos', agencies_path %></h3>
				<p>Revisa los organismos emisores de las ayudas</p>
			</div>
		</div>
	</section>

	<section>
		<header>
			<h2>Historias sobre el impacto de la ayuda</h2>
			<p>Hemos viajado sobre el terreno para comprobar el impacto de la ayuda</p>
		</header>
			<div class="features">
				<div class="feature">
					<a href="http://www.elconfidencial.com/espana/2013-12-10/la-cooperacion-en-vietnam-se-marcha-sin-dejar-huella-para-la-marca-espana_64347/"><img src="assets/aod_8.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/espana/2013-12-10/la-cooperacion-en-vietnam-se-marcha-sin-dejar-huella-para-la-marca-espana_64347/">La cooperación en Vietnam se marcha sin dejar huella para la Marca España</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/multimedia/album/espana/2013-12-10/cooperacion-espanola-en-vietnam-un-pais-de-experiencias-piloto-sin-continuidad_64371/#8"><img src="assets/aod_9.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/multimedia/album/espana/2013-12-10/cooperacion-espanola-en-vietnam-un-pais-de-experiencias-piloto-sin-continuidad_64371/">Cooperación española en Vietnam: experiencias piloto sin continuidad (fotos)</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/espana/2013-12-13/bolivia-gestiona-por-su-cuenta-hasta-un-tercio-de-la-ayuda-que-recibe-de-espana_65709/"><img src="assets/aod_10.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/espana/2013-12-13/bolivia-gestiona-por-su-cuenta-hasta-un-tercio-de-la-ayuda-que-recibe-de-espana_65709/">Bolivia gestiona por su cuenta hasta un tercio de la ayuda que recibe de España</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/multimedia/album/espana/2013-12-13/la-cooperacion-en-bolivia-frustrada-por-la-crisis_65985/#9"><img src="assets/aod_11.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/multimedia/album/espana/2013-12-13/la-cooperacion-en-bolivia-frustrada-por-la-crisis_65985/">La cooperación en Bolivia, frustrada por la crisis (fotos)</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/espana/2013-12-05/guatemala-sufre-el-fin-de-la-ayuda-espanola-tras-anos-de-generosidad-mal-planificada_62604/"><img src="assets/aod_6.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/espana/2013-12-05/guatemala-sufre-el-fin-de-la-ayuda-espanola-tras-anos-de-generosidad-mal-planificada_62604/">Guatemala sufre el fin de la ayuda española tras años de generosidad mal planificada</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/multimedia/album/espana/2013-12-05/guatemala-y-la-cooperacion-excesiva_62470/#1"><img src="assets/aod_7.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/multimedia/album/espana/2013-12-05/guatemala-y-la-cooperacion-excesiva_62470/#1">Guatemala y la cooperación excesiva (fotos)</a></h3>
				</div>

				<div class="feature">
					<a href="http://blogs.elconfidencial.com/espana/tribuna/2013-12-05/sin-cooperacion-un-pais-a-la-deriva_62483/"><img src="assets/aod_5.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://blogs.elconfidencial.com/espana/tribuna/2013-12-05/sin-cooperacion-un-pais-a-la-deriva_62483/">Sin cooperación, un país a la deriva (opinión)</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/espana/2013-12-01/hacienda-toma-el-control-de-la-cooperacion-internacional-y-recorta-mas-que-en-grecia_60964/"><img src="assets/aod_1.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/espana/2013-12-01/hacienda-toma-el-control-de-la-cooperacion-internacional-y-recorta-mas-que-en-grecia_60964/">Hacienda toma el control de la cooperación internacional y recorta más que en Grecia</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/espana/2013-12-01/cuanto-donde-y-como-radiografia-a-la-cooperacion-espanola-al-desarrollo_60965/"><img src="assets/aod_2.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/espana/2013-12-01/cuanto-donde-y-como-radiografia-a-la-cooperacion-espanola-al-desarrollo_60965/">Cuánto, dónde y cómo… Radiografía a la Cooperación Española al Desarrollo</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/espana/2013-12-02/espana-abandona-congo-por-los-recortes-pese-a-la-urgencia-humanitaria_61187/"><img src="assets/aod_3.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/espana/2013-12-02/espana-abandona-congo-por-los-recortes-pese-a-la-urgencia-humanitaria_61187/">España abandona Congo por los recortes pese a la urgencia humanitaria</a></h3>
				</div>

				<div class="feature">
					<a href="http://www.elconfidencial.com/multimedia/album/mundo/2013-12-02/rd-congo-un-pais-en-emergencia-sin-ayuda-espanola_61133/"><img src="assets/aod_4.jpg" width="198" heigh="188" alt=""></a>
					<span></span>
					<h3><a href="http://www.elconfidencial.com/multimedia/album/mundo/2013-12-02/rd-congo-un-pais-en-emergencia-sin-ayuda-espanola_61133/">RD Congo, un país en emergencia sin ayuda española (fotos)</a></h3>
				</div>
			</div>
		</section>

		<section>
			<header>
				<h2>Nuestra aparición en El Objetivo</h2>
				<p></p>
			</header>

			<div class="video">

				<div style="width: 600px; height: 391px; margin:10px auto;">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="600" height="391" align="middle"><param name="allowScriptAccess" value="always"/>
					<param name="movie" value="http://www.lasexta.com/static/swf/laSextaVideo.swf"/>
					<param name="quality" value="high"/>
					<param name="scale" value="noscale"/>
					<param name="bgcolor" value="#ffffff"/>
					<param name="allowFullScreen" value="true"/>
					<param name="FlashVars" value="xml=http://www.antena3.com/videoxml/60000001/70002202/70002206/2013/12/01/00099.xml"/>
					<embed src="http://www.lasexta.com/static/swf/laSextaVideo.swf" width="600" height="391" quality="high" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="xml=http://www.antena3.com/videoxml/60000001/70002202/70002206/2013/12/01/00099.xml"/></object>
				</div>

			</div>
		</section>

</section>