<section id="proyect" class="IDPROYECTO">
	<section id="proyect_overview">
		<header>
			<div class="breadcrumb">
				<strong>Proyectos</strong> >
				<%= link_to @project.region.name, @project.region %> > 
				<%= link_to @project.topic.name, @project.topic %> 
			</div>
			<h1>Proyecto: <%= @project.title %></h1>
		</header>

		<table id="proyect_details">
		<tr>
			<th>Comienzo/Fin</th>
			<td><%= @project.started_at %>-<%= @project.ended_at %></td>
		</tr>
		<tr>
			<th>Duración</th>
			<td><%= @project.duration %></td>
		</tr>
		<tr>
			<th>País/Región</th>
			<td><%= link_to @project.region.name, @project.region %></td>
		</tr>
		<tr>
			<th>Localización</th>
			<td><%= @project.location %></td>
		</tr>
		<tr>
			<th>Importe comprometido en <%= current_year %></th>
			<td><%= number_to_currency @project.committed_amount %></td>
		</tr>
		<% unless @project.returned_amount > 0 %>
		<tr>
			<th>Importe desembolsado en <%= current_year %></th>
			<td><%= number_to_currency @project.paid_amount %> <%= "*" if @project.paid_amount == 0 %></td>
		</tr>
		<% else %>
		<tr>
			<th>Créditos reembolsados en <%= current_year %></th>
			<td><%= number_to_currency @project.returned_amount %></td>
		</tr>
		<% end %>
		<tr>
			<th>Ayuda</th>
			<td><%= @project.aid_via %></td>
		</tr>
		<tr>
			<th>Organismo</th>
			<td><%= agencies_link @project %></td>
		</tr>
		<tr>
			<th>Tema</th>
			<td><%= link_to @project.topic.name, @project.topic %></td>
		</tr>
		</table>

		<section class="proyect_description">
		  <%= @project.description %>
		</section>
	</section>

	<section class="browse_other_proyects">
		<p>Principales proyectos en <%= @project.region.name %> en <%= current_year %></p>
		<ul>
		  <% @related_projects.each do |project| %>
		    <li><%= link_to project.title, project %></li>
		  <% end %>
		</ul>
	</section>
	
	<% if @project.paid_amount == 0 %>
	<p style="margin-top:50px">(*) <%= link_to 'Entiende porqué la cifra es cero.', page_path('about') %></p>
  <% end %>
	
</section>
