<section id="countries">
	<header>
		<h1>Países destinatarios de Ayuda Oficial al Desarrollo (bruta)</h1>
	</header>

	<ul class="tabs">
		<li id="countries_tab" class="active" data-href="#countries_map"><a href="#">Países</a></li>
		<li id="regions_tab" data-href="#regions_map"><a href="#">Regiones</a></li>
	</ul>

	<section id="map_countries">	  
    <div id="countries_map" style="width: 100%; height: 500px;"></div>
    <!--<div id="regions_map" style="border: 1px solid red; width: 100%; height: 500px; display:none;"></div>-->

		<div class="data_filter map_aid_dates">
			Año: 
			<ul>
			  <% (2007..2012).each do |year| %>
				  <li class="<%= (current_year.to_i==year) ? 'active' : ' ' %>"><%= link_to year, regions_path(year: year), data: { year: year }, class: "year_selector" %></li>
				<% end %>
			</ul>			
			<div class="nav_end"></div>
		</div>

		<div class="data_filter map_aid_types" >
			Los datos de 2007 y 2012 no han sido tratados igual que los años anteriores por el Ministerio y por tanto, la cantidad por país es menor. 
			<%= link_to('Más info', page_path('about') + '#faq') %>.
		</div>
	</section>
	
	<section id="map_regions" style="display: none; ">
		<div style="border: 1px solid #D1632A; width: 100%; padding: 3em; font-size: .8em; ">
    
    <p>El 37% de la ayuda oficial al desarrollo bruta entre 2007 y 2012 no está sujeta a un país específico, sino a regiones. <%= link_to('Aquí', page_path('about') + '#faq') %> te explicamos por qué. <br />Chequea los datos año por año:</p>
    
		<table dir='ltr' border=0 cellpadding=0 cellspacing=0 class='tblGenFixed' id='tblMain'>
	   <tr dir='ltr'>
	      <th  class='s0'>
	      <th  class='s1'>2007
	      <th  class='s1'>2008
	      <th  class='s1'>2009
	      <th  class='s1'>2010
	      <th  class='s1'>2011
	      <th  class='s1'>2012
	      <th  dir='ltr' class='s2'>Total general
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'PAÍSES EN VÍAS DE DESARROLLO', region_path(3) %>
	      <td  class='s4'>990.883.986
	      <td  class='s5'>811.837.618
	      <td  class='s5'>758.655.310
	      <td  class='s5'>895.604.599
	      <td  class='s5'>547.890.302
	      <td  class='s5'>1.026.958.404
	      <td  class='s5'>5.031.830.218
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'AMÉRICA', region_path(37) %>
	      <td  class='s4'>124.582.010
	      <td  class='s5'>209.803.388
	      <td  class='s5'>200.346.842
	      <td  class='s5'>292.437.550
	      <td  class='s5'>118.294.857
	      <td  class='s5'>11.974.813
	      <td  class='s5'>957.439.460
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'AMÉRICA DEL NORTE, CENTRAL Y CARIBE', region_path(58) %>
	      <td  class='s4'>84.132.154
	      <td  class='s5'>31.487.425
	      <td  class='s5'>19.519.310
	      <td  class='s5'>28.734.617
	      <td  class='s5'>24.433.510
	      <td  class='s5'>32.242.834
	      <td  class='s5'>220.549.850
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'PAÍSES DE LA CARICOM', region_path(156) %>
	      <td  class='s6'>
	      <td  class='s5'>1.583.162
	      <td  class='s5'>1.072.000
	      <td  class='s5'>1.153.970
	      <td  class='s5'>2.504.255
	      <td  class='s5'>486.764
	      <td  class='s5'>6.800.151
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'AMÉRICA DEL SUR', region_path(91) %>
	      <td  class='s4'>45.281.906
	      <td  class='s5'>24.523.075
	      <td  class='s5'>17.886.136
	      <td  class='s5'>25.241.789
	      <td  class='s5'>63.350.228
	      <td  class='s5'>3.229.463
	      <td  class='s5'>179.512.596
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'EUROPA', region_path(75) %>
	      <td  class='s4'>61.198.323
	      <td  class='s5'>30.948.759
	      <td  class='s5'>20.646.755
	      <td  class='s5'>24.066.346
	      <td  class='s5'>38.532.307
	      <td  class='s5'>732.752
	      <td  class='s5'>176.125.242
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ESTADOS DE LA EX-YUGOSLAVIA', region_path(173) %>
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s5'>1.384.262
	      <td  class='s5'>293.634
	      <td  class='s5'>592.211
	      <td  class='s5'>1.670
	      <td  class='s5'>2.271.777
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'MEDITERRÁNEO', region_path(125) %>
	      <td  class='s4'>241.200
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s5'>1.518.776
	      <td  class='s5'>1.759.976
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ÁFRICA', region_path(32) %>
	      <td  class='s4'>123.937.263
	      <td  class='s5'>121.027.315
	      <td  class='s5'>116.992.397
	      <td  class='s5'>74.263.771
	      <td  class='s5'>22.123.179
	      <td  class='s5'>11.118.932
	      <td  class='s5'>469.462.857
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'MAGREB', region_path(112) %>
	      <td  class='s4'>2.092.520
	      <td  class='s5'>300.000
	      <td  class='s5'>1.138.191
	      <td  class='s5'>626.155
	      <td  class='s5'>3.500
	      <td  class='s5'>491.946
	      <td  class='s5'>4.652.312
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'NORTE DE ÁFRICA', region_path(100) %>
	      <td  class='s4'>47.787.249
	      <td  class='s5'>18.486.913
	      <td  class='s5'>11.564.057
	      <td  class='s5'>22.744.668
	      <td  class='s5'>100.565.678
	      <td  class='s5'>2.364.325
	      <td  class='s5'>203.512.890
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ÁFRICA SUBSAHARIANA', region_path(38) %>
	      <td  class='s4'>470.943.815
	      <td  class='s5'>64.968.922
	      <td  class='s5'>134.123.850
	      <td  class='s5'>188.075.151
	      <td  class='s5'>50.276.093
	      <td  class='s5'>22.981.831
	      <td  class='s5'>931.369.661
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ASIA', region_path(101) %>
	      <td  class='s4'>28.436.305
	      <td  class='s5'>53.003.393
	      <td  class='s5'>17.799.211
	      <td  class='s5'>11.871.975
	      <td  class='s5'>29.952.677
	      <td  class='s5'>40.604
	      <td  class='s5'>141.104.165
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ORIENTE MEDIO', region_path(63) %>
	      <td  class='s4'>27.721.210
	      <td  class='s5'>25.230.821
	      <td  class='s5'>8.449.944
	      <td  class='s5'>9.075.871
	      <td  class='s5'>10.501.787
	      <td  class='s5'>846.237
	      <td  class='s5'>81.825.871
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ASIA ORIENTAL', region_path(94) %>
	      <td  class='s4'>37.650.175
	      <td  class='s5'>7.987.483
	      <td  class='s5'>320.237
	      <td  class='s5'>15.056.394
	      <td  class='s5'>361.890
	      <td  class='s5'>25.468
	      <td  class='s5'>61.401.647
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ASIA CENTRAL', region_path(99) %>
	      <td  class='s4'>22.588.342
	      <td  class='s5'>1.877.804
	      <td  class='s5'>2.212.253
	      <td  class='s5'>8.462.626
	      <td  class='s5'>1.835.063
	      <td  class='s5'>83.943
	      <td  class='s5'>37.060.030
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'ASIA SUR', region_path(95) %>
	      <td  class='s4'>54.736.880
	      <td  class='s5'>737.466
	      <td  class='s5'>1.043.594
	      <td  class='s5'>10.036.657
	      <td  class='s5'>1.812.694
	      <td  class='s5'>349.051
	      <td  class='s5'>68.716.341
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'><%= link_to 'OCEANÍA', region_path(97) %>
	      <td  class='s4'>4.608.052
	      <td  class='s5'>3.691.622
	      <td  class='s5'>1.972.653
	      <td  class='s5'>5.506.200
	      <td  class='s5'>1.212.534
	      <td  class='s5'>90.474
	      <td  class='s5'>17.081.535
	   </tr>
	   <tr dir='ltr'>
	      <td  class='s7'>
	      <td  class='s8'>
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s6'>
	      <td  class='s6'>
	   </tr>
	   <tr dir='ltr'>
	      <td  dir='ltr' class='s3'>Total general
	      <td  class='s5'>2.126.821.389
	      <td  class='s5'>1.407.495.166
	      <td  class='s5'>1.315.127.001
	      <td  class='s5'>1.613.251.973
	      <td  class='s5'>1.014.242.765
	      <td  class='s5'>1.115.538.287
	      <td  class='s5'>8.592.476.579
	   </tr>
	</table>

	</section>
	
</section>